body {
    background-color: #F0B27A;
}

a:link {
  text-decoration: none;
}

.blog {
    font-style: italic;
    font-size: 1.1em;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

th, td {
    padding: 7px;
}