body {
    background-color: #F0B27A;
}

a:link {
    text-decoration: none;
}

.nobr {
    white-space: nowrap
}

.blog {
    font-style: italic;
    font-size: 1.1em;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

th, td {
    padding: 7px;
}

.res {
    background-color: #7ab8f0;
}

.new {
    background-color: #7df07a;
}

.fix {
    background-color: #ed7af0;
}

.res th {
    padding: 3px;
}
.res td {
    padding: 3px;
}

